.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #333;
    color: #fff;
}

.login_container{
    background-color: #34349D;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 500px;
    height: 500px;
}

.login_container img{
    width: 350px;
    height: 120px;
    background: transparent;
    margin-bottom: 15px;
}

.login_container h1{
    font: 50px 'Roboto Mono';
    background: transparent;
    margin-bottom: 10px;
    margin-top: 0;
}

.login_container h4{
    font-family: 'Roboto Mono';
    margin-top: 20px;
    font-size: 15px;
    font-weight: 500;
    color: #e1e1e6;
    background: transparent;
}

.login_loginInputEmail{
    display: flex;
    align-items: center;
    color: gray;
    background-color: #1A1A1D;
    border-radius: 5px;
    padding: 3px;
    width: 98%;
    height: 50px;
}

.login_loginInputEmail svg{
    margin-left: 10px;
    font-size: 25px;
    background: transparent;
}

.login_loginInputEmail input{
    background: transparent;
    width: 100%;
    outline-width: 0;
    color: #E1E1E6;
    border: none;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
}

.login_loginInputPassword{
    display: flex;
    align-items: center;
    color: gray;
    background-color: #1A1A1D;
    border-radius: 5px;
    padding: 3px;
    width: 98%;
    height: 50px;
    margin-top: 5px;
}

.login_loginInputPassword svg{
    margin-left: 10px;
    font-size: 25px;
    background: transparent;
}

.login_loginInputPassword input{
    background: transparent;
    width: 100%;
    outline-width: 0;
    color: #E1E1E6;
    border: none;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
}

.login_container button{
    width: 98%;
    background-color: #202024;
    color: #EFF2F5;
    font-weight: 800;
    height: 50px;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 5px;
    border: none;

    outline-width: 0;
}

.login_container a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    background-color: #202024;
    color: #EFF2F5;
    font-weight: 800;
    height: 50px;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 5px;
    border: none;
    text-decoration: none;

    outline-width: 0;
}

.login_container button:hover, .login_container a:hover{
    background-color: #171719;
    color: #EFF2F5;
    cursor: pointer;
}

.login_eye {
    margin-right: 10px;
    font-size: 5px;
    background: transparent;
    cursor: pointer;
}