.perfil{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #E6E6E6;
}

.perfil_layout{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    border-radius: 15px;
    padding: 10px;
    background-color: #2C2C85;
    width: 19rem;
    max-height: 100%;
}

.perfil_infoPrincipais{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: #fff;
    margin: 5px 10px
}

.perfil_infoPrincipais h1{
    text-shadow: 1px 1px 5px #2D2533;
    font-size: 30px;
    margin: 5px 0;
}

.perfil_infoPrincipais h2{
    font-size: 20px;
    margin-bottom: 10px;
    font-family: monospace;
}

.perfil_infoPrincipais button{
    background-color: #202024;
    color: #EFF2F5;
    font-weight: 700;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    padding: 10px 5px;
    outline-width: 0;
    cursor: pointer;
}

.perfil_infoPrincipais img{
    height: 200px;
    width: 200px;
    margin: 10px 0;
    clip-path: circle(50%);
    filter: drop-shadow(5px 5px 5px black);
}

.perfil_infoPrincipais .trofeu{
    height: 70px;
    width: 70px;
    clip-path: none;
    filter: none;
    padding: 1px;
}

.perfil_layout h3{
    text-shadow: 2px 2px #121113;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    margin-bottom: 10px;
}

.perfil_descricao{
    text-align: center;
    color: #e6e6e6;
    background-color: #2F2F45;
    width: 90%;
    font: 16px monospace;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 4px 3px black;
}