.lista_tasks{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

.add_task_header{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
}
