.header_container{
    background-color: #34349D;
    color: #fff;
    padding: 1rem;
}

.header_items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_items svg{
    font-size: 30px;
    cursor: pointer;
    transition: 0.2s;
}

.header_items svg:hover{
    color: #1F1F5E;
}

.header_items img{
    height: 2rem;
    width: 5.5rem;
}

.header_icons {
    display: flex;
    justify-content: space-around;
    gap: 0.5rem;
}