.home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #E6E6E6;
}

.home_layout{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    background-color: #3838AB;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #4D4DEB;
    color: rgb(241, 236, 236);
    padding: 1rem;
}

.noticias{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.noticias ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    list-style: none;
}

.container_noticia{
    background-color: #1f1f1f;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    width: 10rem;
    height: 11rem;
}

.noticia{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column wrap;
    row-gap: 0.5rem;
    text-align: center;
    font: 1em monospace;
}

.noticia h1{
    text-shadow: 2px 2px 2px #000;
}

.noticia p{
    background-color: #333;
    padding: 5px;
}

.usuario_home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 1rem;
    font-family: 'Roboto';
}